header {
    color: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 20px;
    background-image: url('/web_static/images/HBTN_logo.png'); /* Update the path to your logo */
    height: 40px;
    width: 40px; /* Set a width for the logo */
    background-size: contain;
    background-repeat: no-repeat;
}