.places {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.places h1 {
    height: 10px;
    width: 100%;
    font-size: 30px;
    padding-left: 3%;
}

article {
    width: 200px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    font-size: 30px;
    text-align: center;
    display: fl;
    
}
.photo-style {
    background-image: url(/web_static/images/icon_bath.png), 
                      url(/web_static/images/icon_bed.png), 
                      url(/web_static/images/icon_group.png);
    background-size: contain; /* Adjust as needed */
    background-repeat: no-repeat;
    height: 70px;
    width: 100%;
    background-position: top;
    background-color: #FFFFFF;
}